params {
    // Required Parameters
    outdir            = "/vast/scratch/users/$USER/results"
    inputdir          = "$projectDir/example"
}

//Tower Configuration
/* tower {
    enabled = true
    workspaceId = '103725969693338'  //Change this to your workspace id
    endpoint = 'https://tower.services.biocommons.org.au/api'
} */


profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup = false
    }
    milton{
        conda.enabled          = true
        process {
            withLabel:Test {
                queue='regular'
                cpus = 5
                memory={ 1.GB * task.attempt }
                time='12h'
                errorStrategy ={ 'retry'  }
                maxRetries= 5
                module = 'python/3.9.17' 
                // Add ':' then another module name, to load mulitple modules
            }    
           
        }
    }
    conda {
        conda.enabled          = true
        process {
            withLabel:Test {
                queue='regular'
                cpus = 5
                memory={ 1.GB * task.attempt }
                time='12h'
                errorStrategy ={ 'retry'  }
                maxRetries= 5
                conda ="$projectDir/envs/test.yaml"
                // Must have $projectDir to work on seqera platform
            }
        }
    }
}
